[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
setuptools-scm = "*"
sphinx = "*"

[packages]
requests = "*"
click = "*"
kml2geojson = ">=5.0.1"

[requires]
python_version = "3.9"
