[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
setuptools-scm = "*"
sphinx = "*"
pre-commit = "*"
myst-parser = "*"
sphinx-palewire-theme = "*"

[packages]
requests = "*"
click = "*"
kml2geojson = ">=5.0.1"
geojson = "*"

[requires]
python_version = "3.11"
